@model WebApplicationCrud2.Models.AddEmployeeViewModel
<h1>Add Employee</h1>
<form method="post" action="Add">

    <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" asp-for="Name" />
    </div>

    <div class="form-group">
        <label for="d">Enter Email</label>
        <input type="email" class="form-control" asp-for="Email" />

        <div class="form-group">
            <label for="">Enter Salary</label>
            <input type="number" class="form-control" asp-for="Salary" />
        </div>
    </div>
    <button type="submit" class="btn">Submit</button>
</form>